/* Admissions.css */
.bg-light {
    background-color: #f8f9fa !important;
  }
  
  .card {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }
  
  .bg-dark {
    background-color: #343a40 !important;
  }
  
  .shadow-lg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
  }
  
  footer {
    background-color: #343a40;
    color: #ffffff;
  }
  