/* AboutUs.css */
.bg-light {
    background-color: #f8f9fa !important;
  }
  
  .jumbotron {
    background: #ffffff;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .jumbotron h2 {
    color: #007bff;
  }
  
  .jumbotron:hover {
    transform: translateY(-10px);
    background-color: #f1f1f1;
  }
  
  .list-unstyled li {
    padding: 10px 0;
    transition: transform 0.3s, color 0.3s;
  }
  
  .list-unstyled li i {
    margin-right: 10px;
  }
  
  .list-unstyled li:hover {
    transform: translateX(10px);
    color: #007bff;
  }
  
  .bg-dark {
    background-color: #343a40 !important;
  }
  
  footer {
    background-color: #343a40;
    color: #ffffff;
  }
  